@import "tailwindcss";

.markdown {
  width: 100%;
}

.markdown pre {
  overflow-x: auto;
  max-width: 100%;
  padding: 1rem;
  border-radius: 12px;
  background: #1e293b;
}

.markdown code {
  white-space: pre;
}

.markdown table {
  display: block;
  overflow-x: auto;
  max-width: 100%;
  border-collapse: collapse;
}

.markdown th,
.markdown td {
  border: 1px solid #475569;
  padding: 8px;
}

.markdown p {
  margin: 0.75rem 0;
}

.markdown ul,
.markdown ol {
  margin-left: 1.5rem;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.markdown img {
  max-width: 100%;
}